<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FuncTree</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <section class="main">
        <section class="functions">
        </section>
        <div class="divider">
            <div class="wave-1">
            </div>
            <div class="wave-5">
            </div>
            <div class="wave-2">
            </div>
            <div class="wave-3">
            </div>
            <div class="wave-6">
            </div>
            <div class="wave-4">
            </div>
        </div>
        <section class="display-function">
            <div class="name">
                <p></p>
            </div>
            <div class="params">
                <div class="param">
                    <p></p>
                </div>
            </div>
            <div class="body">
                <textarea readonly>
                </textarea>
            </div>
            <div class="calls">
            </div>
        </section>
    </section>
    <script id="functions-data" type="application/json"><%- functionsInfo %></script>
    <script src="index.js"></script>
</body>
</html>